// SPDX-License-Identifier: MIT
// Merge into the existing &sound node; this is NOT a standalone overlay.
// DTS assignments REPLACE properties. Keep every existing speaker/headphone
// and SoundWire route, adding these entries if missing:
// widgets: "Microphone", "Internal Microphone"
// audio-routing: "DMIC3", "MIC BIAS3",
//                "DMIC3", "Internal Microphone",
//                "TX SWR_DMIC2", "DMIC3_OUTPUT"
// Do not add VA/GPIO experiments as part of this fix. Preserve the board baseline.
// The tested DT retained historical VA entries; minimal-DT removal was not tested.
// See docs/HISTORY-AUDIT.md.
